@model TTCK_DVKYTHUAT.ModelsView.ChangePasswordViewModel
@* 
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
} *@

<!--====== Page Banner Start ======-->
<div class="my-account-details account-wrapper">
    <h4 class="account-title">Thay đổi mật khẩu</h4>
    <div class="account-details">
        <form asp-controller="Accounts" asp-action="ChangePassword" method="post">
        <div class="row">

            <div class="col-md-12">
                <div class="single-form">
                        <label >Mật Khẩu hiện tại</label>
                        <input asp-for="PasswordNow" type="password" placeholder="Mật khẩu hiện tại *">
                </div>
            </div>
           
            <div class="col-md-12">
                <div class="single-form">
                        <label>Mật Khẩu hiện mới</label>
                        <input asp-for="Password" type="password" placeholder="Mật khẩu mới *">
                </div>
            </div>
            <div class="col-md-12">
                <div class="single-form">
                        <label>Xác nhận lại mật khẩu</label>
                        <input asp-for="ConfirmPassword" type="password" placeholder="Nhập lại mật khẩu *">
                </div>
            </div>
       
            <div class="col-md-6">
                <div class="single-form">
                    <button class="main-btn">Lưu Thay Đổi</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<!--====== Login Register Ends ======-->
@* <h1>ChangePassword</h1>

<h4>ChangePasswordViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group">
                <label asp-for="PasswordNow" class="control-label"></label>
                <input asp-for="PasswordNow" class="form-control" />
                <span asp-validation-for="PasswordNow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

