@model TTCK_DVKYTHUAT.ModelsView.ChangePasswordViewModel
@* 
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
} *@

<!--====== Page Banner Start ======-->
 <div class="tab-pane fade" id="pills-account">
    <div class="my-account-details account-wrapper" style="Margin-bottom:100px; Margin-left:100px;">
                <h4 class="account-title">Thay đổi mật khẩu</h4>
       <div class="account-details">
        <form asp-controller="Accounts" asp-action="ChangePassword" method="post">
        <div class="row">

            <div class="col-md-12">
                <div class="single-form">
                        <label >Mật Khẩu hiện tại</label>
                        <input asp-for="PasswordNow" type="password" placeholder="Mật khẩu hiện tại *">
                </div>
            </div>
           
            <div class="col-md-12">
                <div class="single-form">
                        <label>Mật Khẩu hiện mới</label>
                        <input asp-for="Password" type="password" placeholder="Mật khẩu mới *">
                </div>
            </div>
            <div class="col-md-12">
                <div class="single-form">
                        <label>Xác nhận lại mật khẩu</label>
                        <input asp-for="ConfirmPassword" type="password" placeholder="Nhập lại mật khẩu *">
                </div>
            </div>
       
            <div class="col-md-6">
                <div class="single-form">
                    <button class="main-btn">Lưu Thay Đổi</button>
                </div>
            </div>
        </div>
        </form>
         </div>
    </div>
</div> 

<!--====== Login Register Ends ======-->

