@model TTCK_DVKYTHUAT.ModelsView.RegisterVM

@{
    ViewData["Title"] = "DangKyTaiKhoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <!--====== Login Register Start ======-->

<section class="login-register-area pt-75 pb-80" style="margin-top: 100px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-register-content">
                        <h4 class="title">Đăng Ký Tài Khoản !</h4>

                        <div class="login-register-form">
                        <form asp-action="DangKyTaiKhoan">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="single-form">
                                    <label>Họ và Tên *</label>
                                <input asp-for="FullName" type="text">
                                </div>
                            <div class="single-form">
                                <label>Email *</label>
                                <input asp-for="Email" type="email">
                            </div>
                            <div class="single-form">
                                <label>Số điện thoại *</label>
                                <input asp-for="Phone" type="tel">
                            </div>
                            <div class="single-form">
                                <label>Mật Khẩu *</label>
                                <input asp-for="Password" type="password">
                            </div>
                                <div class="single-form">
                                    <label>Nhập lại mật khẩu *</label>
                                <input asp-for="ConfirmPassword"  type="password">
                                </div>
                                <div class="single-form">
                                    <button class="main-btn btn-block">Đăng Ký</button>
                                </div>
                                
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </section>

    <!--====== Login Register Ends ======-->
