
 @model TTCK_DVKYTHUAT.Models.Customer 
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Order> DanhSachDonHang = ViewBag.DonHang;
     TTCK_DVKYTHUAT.ModelsView.ChangePasswordViewModel changePassword = new TTCK_DVKYTHUAT.ModelsView.ChangePasswordViewModel();

}

<!--====== Page Banner Start ======-->

<section class="page-banner bg_cover" style="background-image: url(assets/images/page-banner-4.jpg);">
    <div class="container">
        <div class="page-banner-content text-center">
            <h2 class="title">My Account</h2>
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">My Account</li>
            </ol>
        </div>
    </div>
</section>

<!--====== Page Banner Ends ======-->
<!--====== My Account Start ======-->

<section class="my-account-page pt-50 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-4">
                <div class="my-account-menu mt-30">
                    <ul class="nav account-menu-list flex-column">
                        <li>
                            <a class="active" data-bs-toggle="pill" href="#pills-dashboard"><i class="far fa-tachometer-alt-fast"></i> Thông tin tài khoản</a>
                        </li>
                        <li>
                            <a data-bs-toggle="pill" href="#pills-order"><i class="far fa-Shopping-cart"></i> Đơn Hàng</a>
                        </li>
                     
                        <li>
                            <a data-bs-toggle="pill" href="#pills-account"><i class="far fa-user"></i> Thay đổi mật khẩu</a>
                        </li>
                        <li>
                            <a asp-action ="LogOut" asp-controller="Accounts"><i class="far fa-sign-out-alt"></i> Đăng xuất</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <div class="tab-content my-account-tab mt-30" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-dashboard">
                        <div class="my-account-dashboard account-wrapper">
                            <h4 class="account-title">Tài khoản của tôi</h4>
                            <div class="welcome-dashboard">
                                <p>Hello, <strong>@Model.Name</p>
                            </div>
                            <p class="mt-25">Email: @Model.Email</p>
                            <p class="mt-25">Số điện thoại: @Model.Phone</p>
                         
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-order">
                        <div class="my-account-order account-wrapper">
                            <h4 class="account-title">Danh sách đơn hàng</h4>
                            @await  Html.PartialAsync("_DonHang", DanhSachDonHang )
                        
                        </div>
                    </div>
                   
                    <div class="tab-pane fade" id="pills-account">
                        @await Html.PartialAsync("_ChangePassword", changePassword)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

