


/*====  Call to Action Start  =====*/

.call-to-action{
    background: rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(left, rgb(254, 155, 102) 0%, rgb(148, 221, 254) 100%);
    background: -moz-linear-gradient(left, rgb(254, 155, 102) 0%, rgb(148, 221, 254) 100%);
    background: -ms-linear-gradient(left, rgb(254, 155, 102) 0%, rgb(148, 221, 254) 100%);
    background: linear-gradient(left, rgb(254, 155, 102) 0%, rgb(148, 221, 254) 100%);
}

.call-to-action-wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;

    @media #{$xs}{
        display: block;
    }
}

.call-to-action-content{
    & .title{
        color: $white;
        font-family: $font-1;
        font-weight: 400;
        font-size: 46px;

        @media #{$md}{
            font-size: 30px;
        }
        @media #{$xs}{
            font-size: 24px;
        }
        @media #{$sm}{
            font-size: 30px;
        }
    }
    & p{
        margin-top: 10px;
        color: $white;
        font-size: 14px;
    }
}

.call-to-action-btn{
    & .main-btn{
        padding: 0 40px;
        border: 1px solid rgba($white, 0.6);
        color: $white;
        background-color: transparent;
        line-height: 48px;
        text-transform: capitalize;
    }
}




