@model TTCK_DVKYTHUAT.Models.Account

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<!-- Bottom Breadcrumb card start -->
<div class="card">
    <div class="card-block">
        <div class="breadcrumb-header">
            <h5>Quản Lý Người Dùng</h5>
        </div>
        <div>
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="AdminUserAccounts" asp-action="Index">Danh Sách Người Dùng</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">.....</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Bottom Breadcrumb card end -->
<!-- Basic Form Inputs card start -->
<div class="card">
    <div class="card-header">
        <h5>Thêm Người Dùng</h5>

        <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5"></i>
        </div>

        <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5"></i>
        </div>

    </div>
    <div class="card-block">

        <form asp-controller="AdminUserAccounts" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Username" class="col-sm-2 col-form-label">UserName</label>
                <div class="col-sm-10">
                    <input asp-for="Username" type="text" class="form-control" placeholder="Username...">
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Password" class="col-sm-2 col-form-label">Mật Khẩu</label>
                <div class="col-sm-10">
                    <input asp-for="Password" type="text" class="form-control" placeholder="Password...">
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Roles" class="col-sm-2 col-form-label">Roles</label>
                <div class="col-sm-10">
                    <input asp-for="Roles" type="text" class="form-control" placeholder="Roles...">
                </div>
            </div>
           
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn hor-grd btn-grd-primary " />
                <a asp-action="Index" class="btn btn-inverse" asp-controller="AdminUserAccounts" asp-route-id="@Model?.Id">Back Home</a>

            </div>
        </form>

    </div>
</div>
<!-- Basic Form Inputs card end -->

@* <h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roles" class="control-label"></label>
                <input asp-for="Roles" class="form-control" />
                <span asp-validation-for="Roles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
