


/*====  Features Start  =====*/


.features-area{
    background-color: #f7f7f7;
}

.features-wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;

    & .feature-col{
        
        @media #{$lg}{
            width: 25%;
        }
        @media #{$md}{
            width: 25%;
        }
        @media #{$xs}{
            width: 100%;
        }
        @media #{$sm}{
            width: 50%;
        }
    }
}


.single-feature{
    & i{
        font-size: 30px;
        color: $black;
    }
    & .title{
        font-size: 14px;
        font-weight: 700;
        color: $black;
        margin-top: 15px;
    }
    & p{
        margin-top: 5px;
        font-size: 14px;
        color: $body-color;
    }
}


/*====  Features 2 Start  =====*/

.features-2{
    background-color: $white;

    & .features-wrapper{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
    
        & .feature-col{
            
            @media #{$laptop}{
                width: 25%;
            }
            @media #{$lg}{
                width: 25%;
            }
            @media #{$md}{
                width: 25%;
            }
            @media #{$xs}{
                width: 100%;
            }
            @media #{$sm}{
                width: 50%;
            }
        }
    }
}


/*====  Features 2 Start  =====*/

.features-inner-box{
    & .box-icon{
        & i{
            background-color: #ff9c65;
            background-image: -webkit-linear-gradient(left, #ff9c65 0%, #93ddff 100%);
            background-image: linear-gradient(to right, #ff9c65 0%, #93ddff 100%);
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 50%;
            font-size: 18px;
            color: $white;
        }
    }
    & .box-contents{
        margin-top: 25px;
        
        & .title{
            font-size: 16px;
            font-weight: 700;
            color: $black;
        }
        & p{
            font-size: 14px;
            margin-top: 8px;
        }
    }
}



