



/*==== Menu Sidebar Start  =====*/

.menu-sidebar{
    position: absolute !important;
    width: 300px;
    height: 100%;
    background-color: $white;    
    top: 0;
    left: 0;
    z-index: 9;

    @media #{$desktop}{
        width: 370px;
    }
    @media #{$lg}{
        width: 280px;
    }

    & .menu-sidebar-wrapper{
        padding: 100px 30px;

        @media #{$lg}{
            padding: 50px 30px;
        }
    }

    & .inner-wrapper-sticky{
        width: 100%;
    }
}

.sidebar-logo{
    & a{
        & img{}
    }
}

.sidebar-meta{
    padding-top: 80px;

    & .meta{
        & li{
            display: inline-block;
            margin: 0 5px;
            

            & a{
                font-size: 16px;
                color: $black;
                position: relative;
                padding: 8px;

                & span{
                    height: 15px;
                    line-height: 15px;
                    text-align: center;
                    background-color: $theme-color;
                    color: $white;
                    display: block;
                    font-size: 12px;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0 4px;
                }

                &.sidebar-toggle,
                &.menu-toggle{
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                    background-color: $black;
                    color: $white;
                    text-align: center;
                    line-height: 58px;
                    font-size: 24px;
                    padding: 0;

                    @media #{$md}{
                        display: none;
                    }
                    @media #{$xs}{
                        display: none;
                    }
                }
            }

            & .account-dropdown{
                position: relative;

                & .dropdown-account{
                    position: absolute;
                    width: 200px;
                    top: 100%;
                    left: 50%;
                    @include transform(translateX(-50%));
                    background-color: $white;
                    @include box-shadow (0 2px 12px 2px rgba(0,0,0,.1));
                    padding: 10px;
                    z-index: 9;
                    opacity: 1;
                    visibility: hidden;
                    @include transition(0.3s);
    
                    & li{
                        & a{
                            text-transform: uppercase;
                            font-size: 12px;
                            display: block;
                            color: $black;
                            padding: 10px 30px;
                            @include transition(0.3s);
                        }

                        &:hover{
                            & a{
                                color: $theme-color;
                            }
                        }
                    }
                }

                &:hover{
                    & .dropdown-account{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.sidebar-menu-wrapper{
    padding-top: 35px;

    & .main-menu{
        & > li{
            position: relative;
            margin: 15px 0;

            & > a{
                font-size: 13px;
                line-height: 30px;
                color: $black;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1px;
                padding: 5px 0px;
                display: block;
                @include transition(0.3s);
                opacity: 1;
            }

            &.active,
            &:hover{
                & > a{
                    color: $theme-color;
                }
            }

            & span{
                font-size: 8px;
                color: $white;
                background-color: #d8242b;
                padding: 1px 5px;
                text-transform: uppercase;
                font-weight: 400;
                position: absolute;
                top: -10px;
                right: 30%;
                z-index: 2;

                &::before{
                    position: absolute;
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: #d8242b;
                    bottom: -3px;
                    left: 50%;
                    z-index: -1;
                    @include transform(translateX(-50%) rotate(135deg));
                }
            }

            & .sub-menu{
                position: absolute;
                top: 20px;
                left: 100%;
                width: 240px;
                background-color: $white;
                padding: 30px 0;
                @include box-shadow (0 0 38px 0 rgba(41,44,58,.09));
                @include transition(0.3s);
                opacity: 0;
                visibility: hidden;
                z-index: 99;
                text-align: left;
                margin-left: 30px;

                & li{
                    position: relative;

                    & a{
                        padding: 12px 50px;
                        color: #8a8a8a;;
                        display: block;
                        font-size: 14px;
                        @include transition(0.3s);
                        position: relative; 

                        & i{
                            font-size: 13px;
                            float: right;
                            display: block;
                            padding: 7px 0;
                        }

                    }

                    &.active,
                    &:hover{
                        & > a{
                            opacity: 1;
                            color: $black;
                            text-decoration: underline;
                        }
                    }

                    & .sub-menu{
                        top: 0;
                        left: 90%;
                        margin-left: 0;
                    }

                    &:hover{
                        & .sub-menu{
                            opacity: 1;
                            visibility: visible;
                            left: 100%;
                        }
                    }
                }
            }

            & .sub-mega-menu{
                width: 880px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                
                @media #{$desktop}{
                    width: 1170px;
                }
                @media #{$lg}{
                    width: 700px;
                }

                & > li{
                    width: 25%;

                    & .menu-title{
                        color: $black;
                        text-transform: uppercase;
                        font-weight: 700;
                    }

                    & .menu-image{
                        padding: 0;

                        & img{
                            width: 100%;
                        }
                    }

                    & a{
                        @media #{$lg}{
                            padding: 12px 30px;
                        }
                    }

                    &:hover{
                        & .sub-menu{
                            left: 0;
                        }
                    }
                }                
            }

            &:hover{
                & > .sub-menu{
                    opacity: 1;
                    visibility: visible;
                    top: 0;
                }
            }
        }
    } 
}

.sidebar-social{
    padding-top: 30px;

    & .social{
        & li{
            display: inline-block;
            margin: 0 15px;

            & a{
                font-size: 12px;
                color: $body-color;
                @include transition(0.3s);

                &:hover{
                    color: $white;
                }
            }
        }
    }
}


.sidebar-map{
    padding-top: 30px;

    & #contact-map{
        width: 100%;
        height: 285px;
    }
}







